@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: custom global styles */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #0f172a;
  /* dark base */
  color: #f8fafc;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}
